<body class="deleteBody">
<div class="deleteform">
<div class="deleteBox">
    <table>
        <tr>
            <td>Your mobile id</td>
            <td>{{this.data.id}}</td>
        </tr>
        <tr>
            <td>Your mobile name</td>
            <td>{{this.data.name}}</td>
        </tr>
        <tr>
            <td>Do you want to delete mobile?</td>
            <td>
                <button type="button" class="deleteB" {{action 'deleteItem'}}>Yes</button>
                <button type="button" class="deleteB"><LinkTo class="db1" @route="all-items">No</LinkTo></button>
            </td>
            
        </tr>
</table>

</div>
</div>
</body>