<body class="deleteBody">
<div class="deleteform">
<div class="deleteBox">
<h1>Your mobile id {{this.data.id}}</h1>
<h1>Your mobile name {{this.data.name}}</h1>
<h3>Do you want to delete mobile</h3>
<button type="button" {{action 'deleteItem'}}>Yes</button>
<button class="b2" type="button"><LinkTo class="link_button" @route="all-items">No</LinkTo></button>

</div>
</div>
</body>